<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user.firstName %>'s profile</h1>
    <!-- Rendering views -->
      <div>
        <span>First Name: <%= user.firstName %></span>
        <span>Last Name: <%= user.lastName %></span>
        <span>Email: <%= user.email %></span>
        <span>Dob: <%= user.dob %></span>
        <!-- anchor to return home. -->
        <div><a href="\">Return Home</a></div>
      </div>

  </body>
